div.selection {
    display: flex;
    flex-direction: column;
    margin: 3px 1px 3px 0px;
    border-radius: 5px;
    pointer-events: none;
}

div.selection.valid {
    padding: 0.6em 0.7em;
    /*background: hsla(207, 100%, 75%, 0.2);*/
    background: #00a1ff88;
    color: hsla(202, 77%, 30%, 1);
    border: none;
    box-shadow: 0 0 0px 1px #21a5e4;
    text-shadow: 0 0 2px white;
    z-index: 6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

div.selection.invalid {
    color: transparent !important;
    background: repeating-linear-gradient(135deg,
        yellow,
        yellow 20px,
        black 20px,
        black 40px);
    background-size: 56px 56px;
    animation: danger linear 2s infinite;
    opacity: 0.5;
    z-index: 6;
}

div.selection.selected {
    background: #00a1ff12;
    box-shadow: 0 0 7px 0 #00a1ffb8;
}

@keyframes danger {
    0%   { background-position: 0 0; }
    100% { background-position: 56px 0; }
}